.vr {
  border-left: 2px solid gray;
}

.attribute-pict-wrap {
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
}

.attribute-pict {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.attribute-pict-content {
    position: relative;
    font-size: 200%;
    text-align: center;
}

.ghost {
    opacity: 0.3;
}

.draggable-holder {
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    height: 40px;
}

.character-selected {
background-color: #f8e43342!important;
}

.character-skipped {
    background: linear-gradient(90deg, rgba(85, 85, 85, 0.37), rgba(255, 255, 255, 0));
}

body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed!important;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }

  .sidebar-body {
    width: 240px;
  }
  
  @media (max-width: 480px) {
    .sidebar { 
      width: 100%;
    }

    .sidebar-body {
      width: 100%;
    }
  }

  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .centered-background {
    background-position: center;
     background-repeat: no-repeat;
  }

  .vue-dialog-buttons {
    position: absolute;
    bottom: 0;
  }

  .vue-dialog-button-custom {
    font-size: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 40px;
    height: 40px;
    color: inherit;
    font: inherit;
    outline: none;
    border: 0;
    border-radius: 0;
  }

